<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View</title>
    <link rel="stylesheet" href="../bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../lineawesome/lineawesome/css/line-awesome.css">
    <script src="../jquery-ajax.js"></script>
    <script src="../jquery.js"></script>
    <script src="../sweetalert2/sweetalert2/dist/sweetalert2.all.js"></script>
    <link rel="stylesheet" href="../style/index.css">
    <style>
        
    </style>
</head>
<body>
    <header>
        <div class="header">
            <a href="../dashboard/"><p class="text-light"><i class="la la-arrow-left"></i></p></a>
            <p class="text-light"><i><u><b>Hi, User</b></u></i></p>
            <a href="#"><p class="text-light"><i class="la la-bell"></i></p></a>

        </div>
        <div class="container card">
            <h3 class="card-title text-light text-center">WELCOME TO PASSWORD SAVING</h3>
        </div>
        <p class="text-center text-light p-3"><b><i>By MIKK-TECH</i></b></p>
    </header>
    <div class="container">
       <div class="card">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>LINK</th>
                    <th>PASSWORD</th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>facebook</td>
                    <td>mdnjj22@11mm</td>
                    <td>
                        <i style="color:red; font-size:30px;" class="la la-trash"></i>
                        <i style="color:blue; font-size:30px;" class="la la-edit"></i>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>facebook</td>
                    <td>mdnjj22@11mm</td>
                    <td>
                        <i style="color:red; font-size:30px;" class="la la-trash"></i>
                        <i style="color:blue; font-size:30px;" class="la la-edit"></i>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>facebook</td>
                    <td>mdnjj22@11mm</td>
                    <td>
                        <i style="color:red; font-size:30px;" class="la la-trash"></i>
                        <i style="color:blue; font-size:30px;" class="la la-edit"></i>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>facebook</td>
                    <td>mdnjj22@11mm</td>
                    <td>
                        <i style="color:red; font-size:30px;" class="la la-trash"></i>
                        <i style="color:blue; font-size:30px;" class="la la-edit"></i>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>facebook</td>
                    <td>mdnjj22@11mm</td>
                    <td>
                        <i style="color:red; font-size:30px;" class="la la-trash"></i>
                        <i style="color:blue; font-size:30px;" class="la la-edit"></i>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>facebook</td>
                    <td>mdnjj22@11mm</td>
                    <td>
                        <i style="color:red; font-size:30px;" class="la la-trash"></i>
                        <i style="color:blue; font-size:30px;" class="la la-edit"></i>
                    </td>
                </tr>
            </tbody>
        </table>
       </div>
    </div>
</body>
</html>